.DS_Store
site/js/rts.js
site/data/*
site/firmware/*
site/js/bundle-data.js
site/css/pterm.css
.vscode
**/node_modules
**/package-lock.json

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

.prettierignore
